fastapi
uvicorn
python-dotenv
pydantic
pydantic-core
typing-extensions

google-cloud-firestore
google-cloud-storage
google-cloud-core
google-resumable-media
google-api-python-client
google-auth
google-auth-httplib2
httplib2
proto-plus
protobuf

firebase-admin
cachecontrol

requests
resend
python-multipart>=0.0.5
python-dateutil

passlib[bcrypt]
bcrypt

squareup==36.0.0.20240417
svix
stripe

pytz
